.bodyPlace{
    display:flex; 
    flex-direction:row;
    flex-basis: auto;
}


.leftplace{
    display:flex; 
    min-width: 35%;
    flex-direction:column;
    flex-basis: auto;
    padding: '0 0 0 0'
}

.rightplace{
    min-width: 65%;
}

.creatableSelect{
    min-width: 95%;
} 
