.bodyPlace{
    display:flex; 
    flex-direction:row;
}


.leftplace{
    display:flex; 
    max-width: 20%;
    padding: '0 0 0 0'
}

.rightplace{
    display:flex;
    flex-direction:column;
    min-width: 80%;
}

.creatableSelect{
    min-width: 95%;
} 
